@charset "UTF-8";
body.light-theme {
  background-color: #fff;
  color: #000;
  /* Outros estilos para o tema claro */
}

body.dark-theme {
  background-color: #000;
  color: #8ba4d3;
  /* Outros estilos para o tema escuro */
}

.H {
  height: 600px;
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 5px;
  width: 40px; /* Define a largura */
  height: 40px; /* Define a altura */
  background-color: #84b6f4;
  color: #fff;
  border: solid 1px white;
  border-radius: 50%; /* Define o raio para criar um círculo perfeito */
  cursor: pointer;
  text-align: center;
  font-size: 20px; /* Define o tamanho do ícone */
}

.biArrow {
  color: white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  justify-content: center;
  background-color: rgba(163, 160, 160, 0.7);
}

.btn-add {
  color: white;
  background-color: rgba(163, 160, 160, 0.7);
  border-radius: 15px;
  border: none;
  padding: 5px;
}

.navbar {
  background-color: #84b6f4;
}

.navbar li {
  margin: 5px;
}

.navbar a {
  color: white;
  padding: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}
.navbar a:hover {
  color: black;
  border: white;
  border-radius: 2px;
  text-decoration: underline;
}

small {
  margin-top: 1em;
}

.paddingLink {
  padding-bottom: 5em;
}

.Principal {
  justify-content: center;
  background-color: rgba(132, 182, 244, 0.5);
  margin-top: 100px;
  border-radius: 15px;
  min-width: 320px;
}

.fotoPerfil {
  min-width: 150px;
  max-width: 100%;
}

.d-link {
  flex: none !important;
}

.link {
  color: rgb(95, 189, 233);
  font-size: 20px;
  font-weight: bold;
}

.hards {
  background: linear-gradient(to bottom, white, rgb(59, 55, 55));
  height: 300px;
}

.icones {
  display: flex;
}

.icones img {
  height: 50px;
}

.container-link a {
  background-color: rgb(95, 189, 233);
}

.container-card {
  border-radius: 15px;
  background-color: rgba(132, 182, 244, 0.5);
  margin-bottom: 5em;
}

.card-body {
  height: 6em;
}

#meuVideo {
  overflow: hidden;
  border-radius: 5px;
}

#user-form {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer {
  background-color: #84b6f4;
  text-align: center;
  align-items: center;
  color: white;
  padding: 5px;
}

.timeline {
  position: relative;
  margin: 50px;
  margin-bottom: 0;
  display: flex;
  overflow-x: hidden;
  height: 40%;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 1100px;
  height: 2px;
  background-color: rgba(132, 182, 244, 0.5);
  margin-top: -1px;
  z-index: -1; /* Move a linha para trás dos eventos */
}

.event {
  flex: 0 0 auto;
  position: relative;
  text-align: center;
  margin: 50px;
}

.event img {
  border-radius: 5px;
  margin-bottom: 5em;
}

.event::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(132, 182, 244, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Move as bolinhas para frente dos eventos */
}

@media screen and (min-width: 768px) {
  .Principal {
    padding: 4em 2em;
  }
  .tituloPortfolio {
    font-size: 55px;
  }
  .flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  .paddingLink {
    justify-content: end;
    text-align: end;
  }
}
@media screen and (min-width: 992px) {
  .fotoPerfil {
    max-width: 500px !important;
  }
  .tituloPortfolio {
    font-size: 4em;
  }
  .link {
    margin-top: 13em;
    font-size: 30px;
  }
  .lead {
    font-size: 30px !important;
  }
}
@media screen and (min-width: 1200px) {
  .tituloPortfolio {
    font-size: 6em;
  }
  .tituloPortfolio .lead {
    font-size: 50px !important;
  }
}
@media screen and (min-width: 1400px) {
  .icones img {
    padding: 5px;
    height: 100px;
  }
}/*# sourceMappingURL=estilo.css.map */