$mobile-widthMD: 768px;
$mobile-widthLG: 992px;
$mobile-widthXL: 1200px;
$bg-font:rgb(95, 189, 233);


.navbar{
    background-color:$bg-font;
}
.navbar li{
    margin: 5px;
}
.navbar a{
    color:white;
    padding: 5px;
    &:hover{
        color:black;
        border: white;
        border-radius: 2px;
        text-decoration: underline;
    }
}
small{
    margin-top: 1em;
}
.fotoPerfil{
    width: 300px;
    height:300px;
    border-radius:150%;
}

.items_container {
    display: none; /* Use display flex na div pai */
    justify-content: center; /* Centralize horizontalmente */
    align-items: center; /* Centralize verticalmente */
    height: 50%; /* Defina a altura da div para centralizar */
    margin-top: 8em;  
}
.link{
    color:$bg-font;
    font-size: 20px;
    font-weight: bold;
}
.alturaLG{
    min-height: calc(100vh - 100px);
}

.hards{
    background: linear-gradient(to bottom, white, rgb(59, 55, 55));
    height: 300px;
}
.container-link a{
    background-color:$bg-font;
    

}
.container-card{
    background: linear-gradient(to bottom, rgb(59, 55, 55), black);
    margin-top: 0;
    padding-top: 0;

}
.card-body{
    height: 6em;
}
.footer{
    background-color:$bg-font;
    text-align: center;
    align-items:center;
    color:white;
    padding: 5px;
    
}

@media screen and (min-width: $mobile-widthMD) {
 .items_container  {
    display: flex;
 }

}
@media screen and (min-width: $mobile-widthXL) {
.top{
    margin-top: 4em;
}
.icones img{
    padding: 5px;
    height: 100px;
   
    
}

    }

